* {
  font-family: 'Roboto', open-sans !important;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 100px;
  width: 100%;
  border: 0.5px solid #00000040 !important;
  height: 86%;
}

.punt-clicks {
  pointer-events: none;
}

.full-height-container {
  overflow: hidden;
  height: 100%;
  /* padding: 20px */
}

.full-height-container .scroll {
  overflow: auto;
  height: 100%;
}

.query-res {
  padding:5px
}

.fill-light {
  background-color: #fff;
}

.loading:before {
  background-color: rgba(0, 0, 0, 0.20);
}

label.button {
  text-align: left;
}

.listing-container button {
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
  padding: 0;
  height: auto;
}

.listing-container button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.listing-container button.listing h4 {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: normal;
}

input[type='checkbox']+label {
  color: #fff;
  height: 50px;
  /* line-height:30px; */
}

input[type='checkbox']+label:before,
input[type='checkbox']+label:after {
  margin-top: 5px;
}

input[type='checkbox']:checked+label,
input[type='checkbox']:checked+label:hover {
  color: #fff;
}

input[type='checkbox']:checked+label:hover:before {
  opacity: 0.75;
}

.checkbox-pill input[type='checkbox']+label[for='art'],
.checkbox-pill input[type='checkbox']:checked+label[for='art'],
.fill-art {
  background-color: #d93a92;
}

.checkbox-pill input[type='checkbox']+label[for='music'],
.checkbox-pill input[type='checkbox']:checked+label[for='music'],
.fill-music {
  background-color: #5a4ba2;
}

.checkbox-pill input[type='checkbox']+label[for='theatre'],
.checkbox-pill input[type='checkbox']:checked+label[for='theatre'],
.fill-theatre {
  background-color: #ffaf01;
}

.checkbox-pill input[type='checkbox']+label[for='museum'],
.checkbox-pill input[type='checkbox']:checked+label[for='museum'],
.fill-museum {
  background-color: #01b788;
}

.legend {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}

.legend,
.mapboxgl-ctrl-attrib {
  width: 280px;
}

.mapboxgl-ctrl-top-left {
  top: 0;
  left: 300px;
  position: absolute;
}

textarea,
input[type=password],
input[type=text],
input[type=date],
input[type=email],
input[type=number],
::placeholder {
  border-radius: 3px;
  padding: 7px;
  background-color: #7b7b7b;
  color: white !important;
}

input[type='checkbox'] {
  margin-top: 10px;
  padding: 10px;
}

input[type='checkbox']:checked+label,
input[type='checkbox']:checked+label:hover,
input[type='checkbox']+label,
input[type='checkbox']:checked+label:hover {
  color: #000;
  font-size: 12px;
  /* line-height: 2.5 !important; */
  /* margin: 10px;
  /* height: 23px; */
  /* line-height: 30px !important; */
  /* font-weight: bold; */
}

.mapboxgl-ctrl-geocoder svg {
  display: none;
}

/* .mapboxgl-ctrl-logo {
  margin-left: 300px !important;
} */

.mapboxgl-ctrl-bottom-right {
  bottom: 55px;
}

.sidebar-dropdown {
  margin-bottom: 5px;
  border-bottom: 1px solid #0000003d;

}

.sidebar-dropdown:hover {
  cursor: pointer;
  background-color: #00000008;

}

.dbgOuter {
  border: solid 1px #888;
  border-radius: 4px;
  padding: 3px 8px 0px 14px;
  width: 340px;
  margin: 0 auto;
  font-size: 10.5pt;
}

.dbgCont {
  display: inline-block;
  height: 28px;
  margin-left: 6px;
}

/* Base for label styling */
.dbgCheck:not(:checked),
.dbgCheck:checked {
  position: absolute;
  /* left: -9999px; */
}

.dbgCheck:not(:checked)+label,
.dbgCheck:checked+label {
  display: inline-block;
  position: relative;
  padding-left: 33px;
  cursor: pointer;
}

label {
  padding: 6px 0;
  position: relative;
}

.dbgCheck {
  display: inline-block;
  width: 90px;
  height: 24px;
  margin: 1em;
}

.dbgCheck {
  display: none;
}

.dbgCheck+label {
  background: url('../assets/check.png') no-repeat;
  opacity: 0.5;
}

.dbgCheck:checked+label {
  background: url('../assets/check.png') no-repeat;
  display: inline-block;

  opacity: 1;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.small-date {
  font-weight: bold;
  font-size: 14px;
}

/* Tablet */
@media only screen and (max-width:770px) {
  .listing-container {
    width: 33.3333%;
  }

  .mb-watermark {
    margin-left: 33.3333%;
  }
}

/* Mobile */
@media only screen and (max-width:640px) {
  .listing-container {
    padding: 0;
    margin: 0;
    border-radius: 0;
    top: auto;
    height: 40%;
    z-index: 10;
    position: fixed;
    width: 100%;
  }

  .mb-watermark {
    bottom: 40%;
    left: 10px;
    margin-left: 0;
  }

  input[type='checkbox']+label {
    width: 25%;
    border: none;
  }

  #menu {
    display: none;
  }

  #map {
    height: 60%;
  }

  .mapboxgl-ctrl-logo {
    display: block !important;
  }

  .mapboxgl-ctrl-attrib.mapboxgl-compact {
    display: none !important;
  }
}
.active {
  display: block;
}

.deactive {
  display: none;
}